body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.whole_wrapper {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 80%;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

#road_num {
  width : 142px;
}

#car_num {
  width : 128px;
}

main {
  margin-top: 20px;
}

#myCanvas {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}