/*header 시작*/
header
{
    height : 10vh;
    width : 100vw;
    padding : 1vh;
    display : flex;
    box-shadow : 2px 0 5px #d6d6d6;
    mix-blend-mode: multiply;
    align-items: center;
}

#ul_login
{
    width : 95%;
    height : 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#ul_login li
{
    list-style : none;
    width : 10%;
    height : 85%;
    text-align: center;
    margin-left: 20px;
    display : flex;
    align-items: center;
    box-shadow : 2px 0 5px #d6d6d6;
    mix-blend-mode: multiply;
    justify-content: center;
}

#ul_login li a
{
    width : 50%;
    height : 100%;
    color : black;
    text-decoration : none;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
}

#li_login
{
    margin-right: auto;
    margin-left: 0 !important;
}

#li_guide
{
    margin-right : 5%;
    margin-left : 5%;
}

#ul_login li a:hover, #ul_login li a:focus
{
    text-decoration: underline;
    color:black;
    box-shadow : 2px 0 5px #d6d6d6;
    mix-blend-mode: multiply;
}